.section1 {
  display: flex;
  height: 90vh;
  background-image: url("../images/Blackbackground.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.section1_grid{
display: grid;
grid-template-columns: 2fr 2fr ;
width: 100%;
padding: 5px;
}

.section1_grid_text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
  font-size: 40px;
  color: white;
}
.highlight{
  color: #fac100;
}
.section1_grid_text p{
  font-size: 24px;
}
.section1_grid_photo{
display: flex;
justify-content: center;
}
.section1_grid_photo img:hover{
  transform: scale(1.1);
}
.section2{
border-bottom: #d2d2d2;
}
.section2_grid{
  display: grid;
  background-color: #f9f9f9;
  grid-template-columns:repeat(4,1fr);
  padding: 20px 0;
}
.section2_grid_structure{
display:  flex;
flex-direction: column;
align-items: center;
padding: 40px;
gap: 20px;
}
.section2_grid_structure h2, .section2_grid_structure p{
  margin: 0;;
}
.section2_grid_structure p{
font-size: 30px;
}
.section2_grid_structure h2{
font-weight: bold;
font-size: 50px;
}